<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.y3lq.blog.system.mapper.DiaryCommentMapper">

    <resultMap type="cn.y3lq.blog.system.vo.DiaryCommentVO" id="diaryCommentVOMap">
        <result property="commentId" column="comment_id"/>
        <result property="diaryId" column="diary_id"/>
        <result property="toUserId" column="to_user_id"/>
        <result property="toUserNickname" column="to_user_nickname"/>
        <result property="fromUserId" column="from_user_id"/>
        <result property="fromUserNickname" column="from_user_nickname"/>
        <result property="content" column="content"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="selectCommentByDiaryId" resultMap="diaryCommentVOMap">
        SELECT dc.comment_id,
               dc.diary_id,
               dc.to_user_id,
               uu.nickname AS to_user_nickname,
               dc.from_user_id,
               u.nickname  AS from_user_nickname,
               dc.content,
               dc.del_flag,
               dc.create_time
        FROM `diary_comment` dc
                 LEFT JOIN `user` u ON u.user_id = dc.from_user_id
                 LEFT JOIN `user` uu ON uu.user_id = dc.to_user_id
        WHERE dc.diary_id = #{diaryId}
          AND dc.del_flag = '0'
          AND u.del_flag = '0'
        ORDER BY dc.create_time DESC
    </select>

    <insert id="insertDiaryComment" useGeneratedKeys="true" keyProperty="commentId">
        INSERT INTO `diary_comment` (
        <if test="diaryId != null">diary_id,</if>
        <if test="toUserId != null">to_user_id,</if>
        <if test="fromUserId != null">from_user_id,</if>
        <if test="content != null and content != ''">content,</if>
        <if test="delFlag != null and delFlag != ''">del_flag,</if>
        create_time
        ) VALUES (
        <if test="diaryId != null">#{diaryId},</if>
        <if test="toUserId != null">#{toUserId},</if>
        <if test="fromUserId != null">#{fromUserId},</if>
        <if test="content != null and content != ''">#{content},</if>
        <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
        sysdate()
        )
    </insert>

    <select id="selectDiaryCommentByCommentId" resultMap="diaryCommentVOMap">
        SELECT dc.comment_id,
               dc.diary_id,
               dc.to_user_id,
               uu.nickname AS to_user_nickname,
               dc.from_user_id,
               u.nickname  AS from_user_nickname,
               dc.content,
               dc.del_flag,
               dc.create_time
        FROM `diary_comment` dc
                 LEFT JOIN `user` u ON u.user_id = dc.from_user_id
                 LEFT JOIN `user` uu ON uu.user_id = dc.to_user_id
        WHERE dc.comment_id = #{commentId}
          AND dc.del_flag = '0'
          AND u.del_flag = '0'
    </select>

    <update id="deleteDiaryComment">
        UPDATE `diary_comment`
        SET del_flag = '1'
        WHERE comment_id = #{commentId}
    </update>


</mapper>